판다스- 데이터 수집 및 데이터 전처리를 위한 다양한 편의 기능을 지원하며, 그 편의성으로 인해 데이터 분석 분야에서 널리 사용.
시리즈: 일차원 데이터, 데이터프레임: 이차원 데이터

3.1 시리즈 소개

In [30]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

리스트(수정 가능), 튜플(수정 불가능), 딕셔너리(key를 사용한 인덱싱)

파스칼 표기법: 단어의 시작을 대문자로! ex) ThisIsClass

In [31]:
from pandas import Series
data=[10,20,30]
s=Series(data)
print(s)
#'dtype:int64': 64비트 정수가 시리즈에 저장됨

0    10
1    20
2    30
dtype: int64

In [32]:
data=["시가","고가"]
s=Series(data)
print(s)
#판다스에서 문자열은 object

0    시가
1    고가
dtype: object

In [33]:
#문자열 타입과 정수형 타입을 하나의 시리즈로 만들면 전체 데이터가 object타입으로 관리됨.

In [34]:
s=Series(['samsung',81000])
print(s)

0    samsung
1      81000
dtype: object

3.3 시리즈 인덱스

In [35]:
data=[1000,2000,3000]
s=Series(data)
print(s.index) #0부터 2까지 1씩 증가
print(s.index.to_list()) #파이썬 리스트로 값 변환

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [36]:
s=Series(data)
s.index = ["메로나","구구콘","하겐다즈"]
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [37]:
index = ["메로나","구구콘","하겐다즈"]
s=Series(data,index)
print(s)
#index를 뒤에 써야 앞에 출력됨!
#원리 ? 인덱스가 필수가 아니기 때문에 뒤에 위치한 것?

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [38]:
#class Series:
## def __init__(self, data=None, index=None,....):일부 파라미터 생략
#  def __init__(self, data=None, index=None):
#    pass

In [39]:
data=[1000,2000,3000]
index=["메로나","구구콘","하겐다즈"]
s=Series(data=data, index=index)
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [40]:
v=[1000,2000,3000]
k=["메로나","구구콘","하겐다즈"]
s=Series(data=v,index=k) #keyword arguement 사용시 data, index 순서 변경 가능
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [51]:
#v=[1000,2000,3000]
#k=["메로나","구구콘","하겐다즈"]
#s=Series(data=v,k) #keyword arguement 사용시 data, index 순서 변경 가능
#print(s)
#키워드 인자 data만 사용하면 안됨~

In [63]:
data=[1000,2000,3000]
index=['메로나','구구콘','하겐다즈']
s=Series(data=data,index=index)
s2=s.reindex(["메로나","비비빅","구구콘"])
print(s2)

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [64]:
print(s2.fillna(0))

메로나    1000.0
비비빅       0.0
구구콘    2000.0
dtype: float64

In [65]:
s2 #위 코드 실행하더라도 바뀐 값이 저장되지는 않음

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [66]:
s2=s.reindex(["메로나","비비빅","구구콘"],fill_value=0)
s2

메로나    1000
비비빅       0
구구콘    2000
dtype: int64

In [68]:
date=("2019-05-31", "2019-05-30","2019-05-29","2019-05-28","2019-05-27")
price=(42500,42550,41800,42550,42650)
sData=Series(data=price,index=date)
print(sData)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [70]:
#딕셔너리
data={
    "2019-05-31": 42500,
    "2019-05-30": 42550,
    "2019-05-29": 41800,
    "2019-05-28": 42550,
    "2019-05-27": 42650
}
sData=Series(data)
print(sData)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [72]:
print(sData.index)
print(sData.index.dtype)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
object

In [73]:
print(sData.values) #콤마 없는 것이 리스트와의 차이점. ndarray.

[42500 42550 41800 42550 42650]

3.4 시리즈 인덱싱

In [ ]:
#인덱싱: 자료구조에서 하나의 값에 접근하는 것
#행 번호와 인덱스 두가지 방법으로 시리즈 인덱싱 가능
#시리즈 객체의 행 번호를 사용하여 인덱싱할 때 iloc 연산, 인덱스를 활용할 때 loc연산

In [82]:
#iloc연산 양수, 음수 모두 사용 가능
from pandas import Series
data=[1000,2000,3000]
s=Series(data=data)
print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1]) #뒤에서 첫번째
print(s.iloc[-3])

1000
2000
3000
3000
1000

In [84]:
#loc연산: 시리즈의 인덱스 값을 통해 인덱싱
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
print(s.loc[-1]) #에러 -1이라는 인덱스가 시리즈 객체에 없으므로 에러 발생

1000
2000
3000

KeyError: -1

In [86]:
data=[1000,2000,3000]
index=["메로나","구구콘","하겐다즈"]
s=Series(data=data,index=index)
print(s.iloc[0])
print(s.loc["메로나"]) #쌍따옴표, 홑따옴표? 차이 없나? o?

1000
1000

In [88]:
s1=Series([10,20,30])
s2=Series([10,20,30], index=[1,2,3])
print(s1[1])
print(s2[1])

20
10

In [89]:
s3=Series([10,20,30],index=['a','b','c'])
print(s3[0]) #인덱스 타입이 정수가 아닌 경우 정수화 함께 []인덱싱을 사용하면 iloc연산처럼 동작
#헷갈릴 수 있기 때문에 iloc/loc를 명시적으로 사용하는 것 추천

10

/tmp/ipython-input-2947564310.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s3[0])

In [90]:
print(s3.index[0])
print(s3.index[-1])

a
c

3.5 시리즈 슬라이싱

In [ ]:
from pandas import Series
data=[1000,2000,3000]

In [105]:
index=["메로나","구구콘","하겐다즈"]
s=Series(data=data,index=index)
print(s.iloc[0:2]) #슬라이싱 행번호 0,1번

메로나    1000
구구콘    2000
dtype: int64

In [94]:
print(s.loc['메로나':'구구콘']) #끝 인덱스를 포함해서 값을 가져온다는 점에서 iloc와 다름

메로나    1000
구구콘    2000
dtype: int64

In [97]:
indice=[0,2]
print(s.iloc[indice])
print(s.iloc[[0,2]]) #파이썬 리스트와 달리 연속적이지 않은 값들에 대해서 슬라이싱 가능

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [98]:
indice=["메로나","하겐다즈"]
print(s.loc[indice])
print(s.loc[["메로나","하겐다즈"]]) #loc도 마찬가지

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

3.6 시리즈 수정/추가/삭제

In [99]:
s.loc['메로나']=500 #값 수정
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
dtype: int64

In [106]:
s.iloc[0]=500 #iloc 연산 사용
s['메로나']=500 #[]기호 사용

In [107]:
s.loc['비비빅']=500 #존재하지 않는 인덱스 추가시 새로운 값으로 추가
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [108]:
print(s.drop('메로나'))
print(s.drop(0)) #에러. drop매서드는 시리즈의 인덱스를 사용해야 함. 행번호x.

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

KeyError: '[0] not found in axis'

In [109]:
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [110]:
s=s.drop('메로나')
print(s)

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

3.7 시리즈 연산

In [111]:
#같은 인덱스를 갖는 데이터끼리 연산 수행
from pandas import Series
철수=Series([10,20,30],index=['NAVER','SKT','KT'])
영희=Series([10,20,30],index=['SKT','KT','NAVER'])
가족=철수+영희
print(가족)

KT       50
NAVER    40
SKT      30
dtype: int64

In [112]:
print(철수*10)

NAVER    100
SKT      200
KT       300
dtype: int64

In [114]:
#삼성전자 5일 일봉 데이터 변동폭
high=Series([42800,42700,42050,42950,43000])
low=Series([42150,42150,41300,42150,42350])
diff=high-low
print(diff)

0    650
1    550
2    750
3    800
4    650
dtype: int64

In [115]:
print(diff.max())

800

In [116]:
#날짜를 인덱스로 갖는 시리즈에서 변동폭이 가장 큰 '날짜' 찾기
date=["6/1","6/2","6/3","6/4","6/5"]
high=Series([42800,42700,42050,42950,43000],index=date)
low=Series([42150,42150,41300,42150,42350],index=date)
diff=high-low
print(diff)

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

In [117]:
#반복문에서 변동폭 최대 날짜 찾기
max_idx=0
max_val=0

for i in range(len(diff)):
  if diff[i]>max_val:
    max_val=diff[i]
    max_idx=i

print(max_idx)
print(diff.index[max_idx])

3
6/4

/tmp/ipython-input-3727016924.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if diff[i]>max_val:
/tmp/ipython-input-3727016924.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  max_val=diff[i]

In [119]:
#시리즈 변동폭 최대 최소 날짜 찾기
print(diff.idxmax())
print(diff.idxmin())

6/4
6/2

In [123]:
#반복문 변동폭 최소 날짜 찾기는 ?

In [124]:
#수익률
profit=high/low
print(profit)

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

In [127]:
#누적수익률
print(profit.cumprod())
print(profit.cumprod()[-1]) #마지막 값

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64
1.0836101509172456

/tmp/ipython-input-3421888387.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(profit.cumprod()[-1])

In [129]:
#유일한 값 추출, 각 데이터 개수 count
data= {
    "삼성전자":"전기,전자",
    "LG전자":"전기,전자",
    "현대차":"운수장비",
    "NAVER":"서비스업",
    "카카오":"서비스업",
}
s=Series(data)
print(s)

삼성전자     전기,전자
LG전자     전기,전자
현대차       운수장비
NAVER     서비스업
카카오       서비스업
dtype: object

In [130]:
#중복 제거한 업종 리스트
print(s.unique())

['전기,전자' '운수장비' '서비스업']

In [132]:
s.value_counts() #출현 빈도

전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64

3.8 시리즈와 Map

In [133]:
s=Series(["1,234","5,678","9,876"])
print(int(s)) #에러 > 쉼표

TypeError: cannot convert the series to <class 'int'>

In [135]:
def remove_comma(x):
  print(x,'in function')
  return x

result=s.map(remove_comma)
print(result)

#remove_comma함수는 총 3번 호출됨. 함수가 적용된 상태로 입력값 그대로 리턴.

1,234 in function
5,678 in function
9,876 in function
0    1,234
1    5,678
2    9,876
dtype: object

In [136]:
def remove_comma(x):
  return int(x.replace(",",""))

result=s.map(remove_comma)
print(result)

0    1234
1    5678
2    9876
dtype: int64

In [140]:
#map 활용하여 수치형>범주형

def is_greater_than_5000(x):
  if x>5000:
    return "크다"
  else:
    return "작다"

s=Series([1234,5678,9876])
s=s.map(is_greater_than_5000)
print(s)

0    작다
1    크다
2    크다
dtype: object

시리즈 필터링

In [163]:
#비교연산
index=("2019-05-31", "2019-05-30","2019-05-29","2019-05-28","2019-05-27")
data=(42500,42550,41800,42550,42650)
sData=Series(data,index)
cond=sData>42000
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [142]:
print(sData[cond]) #불리언 인덱싱(색인)

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [145]:
index=("2019-05-31", "2019-05-30","2019-05-29","2019-05-28","2019-05-27")
close=[42500,42550,41800,42550,42650]
open=[42600,42200,41850,42550,42500]
open=Series(open,index)
close=Series(close,index)
compare=close>open
print(compare)
print(close[compare]) #!!

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool
2019-05-30    42550
2019-05-27    42650
dtype: int64

In [146]:
print(close[close>open])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [149]:
print(close.index[close>open])
print(close[close>open].index)

Index(['2019-05-30', '2019-05-27'], dtype='object')
Index(['2019-05-30', '2019-05-27'], dtype='object')

In [152]:
diff=close-open
print(diff[close>open])
print(diff[diff>0]) #이렇게 써도 되는거 아닌지!

2019-05-30    350
2019-05-27    150
dtype: int64
2019-05-30    350
2019-05-27    150
dtype: int64

3.10 정렬 및 순위

In [157]:
#sort_values 오름차순. 내림차순- ascending=FALSE

data=[3.1,2.0,10.1,5.1] #소괄호와 대괄호 차이?
index=['000010','000020','000030','000040']
s=Series(data,index)
print(s)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64

In [162]:
#대괄호 list
dlist = [0,1,1,2,3]
#중괄호 집합(set)
dset = {0,1,1,2,3}
#소괄호 튜플[
dtuple = (0,1,1,2,3)
dlist[0]=2 #변경 가능
dset #unique
dtuple #변경 불가능

(0, 1, 1, 2, 3)

In [165]:
s1=s.sort_values()
print(s1)

s2=s.sort_values(ascending=False)
print(s2)

000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [166]:
print(s.rank())

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64

In [169]:
data=[5.1,2.0,10.1,5.1]
index=['000010','000020','000030','000040']
s=Series(data,index)
print(s.rank())  #동일한 값을 가질 경우 순위에서 평균값 가짐. 소수점o
print(s.rank(ascending=False))

000010    2.5
000020    1.0
000030    4.0
000040    2.5
dtype: float64
000010    2.5
000020    4.0
000030    1.0
000040    2.5
dtype: float64