In [7]:
from pandas import DataFrame, Series

data= [
    ["3R",1510,7.36],
    ["3S0FT",1790,1.65],
    ["ACTS",1185,1.28]
]
index= ["037730","036360","005760"]
columns=["종목명","현재가","등락률"]
df= DataFrame(data,index=index,columns=columns)

In [11]:
s= Series(data=[1600,1600,1600], index=df.index)
df['목표가'] = s
print(df)

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3S0FT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [13]:
df['목표가']=1600
print(df)

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3S0FT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [15]:
df['괴리율']= (df['목표가']-df['현재가'])/ df['현재가']
print(df)

          종목명   현재가   등락률   목표가       괴리율
037730     3R  1510  7.36  1600  0.059603
036360  3S0FT  1790  1.65  1600 -0.106145
005760   ACTS  1185  1.28  1600  0.350211

In [17]:
from pandas import DataFrame, Series

data= [
    ["3R",1510,7.36],
    ["3S0FT",1790,1.65],
    ["ACTS",1185,1.28]
]
index= ["037730","036360","005760"]
columns=["종목명","현재가","등락률"]
df= DataFrame(data,index=index,columns=columns)

In [20]:
s= Series(data= ["LG전자", 60000, 3.84], index= df.columns)
df.loc["066570"] =s
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3S0FT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [22]:
df.loc["066570"] = ["LG전자", 60000, 3.84]
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3S0FT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [26]:
s= Series(data= ["LG전자", 60000, 3.84], index= df.columns, name= "066570")
# new_df = df.append(s) # append is deprecated, use loc or concat
df.loc[s.name] = s
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3S0FT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [27]:
from pandas import DataFrame, Series

data= [
    ["3R",1510,7.36],
    ["3S0FT",1790,1.65],
    ["ACTS",1185,1.28]
]
index= ["037730","036360","005760"]
columns=["종목명","현재가","등락률"]
df= DataFrame(data,index=index,columns=columns)

In [29]:
df_new = df.drop("현재가", axis=1)
print(df_new)

          종목명   등락률
037730     3R  7.36
036360  3S0FT  1.65
005760   ACTS  1.28

In [30]:
df_new = df.drop("037730", axis=0)
print(df_new)

          종목명   현재가   등락률
036360  3S0FT  1790  1.65
005760   ACTS  1185  1.28

In [31]:
df.drop("현재가", axis=1, inplace=True)
print(df)

          종목명   등락률
037730     3R  7.36
036360  3S0FT  1.65
005760   ACTS  1.28

In [32]:
df.drop(["037730","005760"], axis=0, inplace=True)
print(df)

          종목명   등락률
036360  3S0FT  1.65

In [33]:
from pandas import DataFrame, Series

data= [
    ["3R",1510,7.36],
    ["3S0FT",1790,1.65],
    ["ACTS",1185,1.28]
]
index= ["037730","036360","005760"]
columns=["종목명","현재가","등락률"]
df= DataFrame(data,index=index,columns=columns)

In [34]:
print(df.columns)

Index(['종목명', '현재가', '등락률'], dtype='object')

In [35]:
print(df.index)

Index(['037730', '036360', '005760'], dtype='object')

In [38]:
df.columns = ['name','close','fluctuation']
df.index.name = 'code'
print(df)

         name  close  fluctuation
code
037730     3R   1510         7.36
036360  3S0FT   1790         1.65
005760   ACTS   1185         1.28

In [39]:
from pandas import DataFrame, Series

data= [
    ["3R",1510,7.36],
    ["3S0FT",1790,1.65],
    ["ACTS",1185,1.28]
]
index= ["037730","036360","005760"]
columns=["종목명","현재가","등락률"]
df= DataFrame(data,index=index,columns=columns)

In [42]:
df.rename(columns={"종목명":"code"}, inplace=True)
print(df)

         code   현재가   등락률
037730     3R  1510  7.36
036360  3S0FT  1790  1.65
005760   ACTS  1185  1.28

In [44]:
data= [
    ["1,000","1,100","1,510"],
    ["1,410","1,420","1,790"],
    ["850","900","1,185"],
]
columns= ["03/02","03/03","03/04"]
df=DataFrame(data=data, columns=columns)
print(df)

   03/02  03/03  03/04
0  1,000  1,100  1,510
1  1,410  1,420  1,790
2    850    900  1,185

In [47]:
def remove_comma(x):
    return int(x.replace(",",""))

df['03/02'] = df['03/02'].map(remove_comma)
df['03/03'] = df['03/03'].map(remove_comma)
df['03/04'] = df['03/04'].map(remove_comma)
print(df)

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185

In [50]:
data= [
    ["1,000","1,100","1,510"],
    ["1,410","1,420","1,790"],
    ["850","900","1,185"],
]
columns= ["03/02","03/03","03/04"]
df=DataFrame(data=data, columns=columns)
print(df)
def remove_comma(x):
    return int(x.replace(",",""))
df = df.applymap(remove_comma)
print(df)
print(df.dtypes)

   03/02  03/03  03/04
0  1,000  1,100  1,510
1  1,410  1,420  1,790
2    850    900  1,185
   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185
03/02    int64
03/03    int64
03/04    int64
dtype: object

/tmp/ipython-input-736548190.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma)

In [56]:
import numpy as np
df= df.astype({'03/02':np.int64,'03/03':np.int64,'03/04':np.int64})
print(df)
print(df.dtypes)

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185
03/02    int64
03/03    int64
03/04    int64
dtype: object

In [59]:
data = [
    {"cd": "A060310", "nm":"3S","close":"2,920"},
    {"cd": "A095570", "nm":"AJ네트웍스","close":"6,250"},
    {"cd": "A006840", "nm":"AK홀딩스","close":"29,700"},
    {"cd": "A054620", "nm":"APS홀딩스","close":"19,400"}
]
df= DataFrame(data)
df

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [62]:
df['cd'] = df['cd'].str[1:]
df['close'] = df['close'].str.replace(',','').astype(np.int64)
print(df)

      cd      nm  close
0  60310      3S   2920
1  95570  AJ네트웍스   6250
2  06840   AK홀딩스  29700
3  54620  APS홀딩스  19400