1번 문제

In [5]:
from pandas import Series

In [6]:
temp = [15.5,16.0,17.2,18.1,19.3,20.0]
index = ["10:00","11:00","12:00","13:00","14:00","15:00"]
s= Series(temp,index)
print(s)

10:00    15.5
11:00    16.0
12:00    17.2
13:00    18.1
14:00    19.3
15:00    20.0
dtype: float64

In [14]:
print(s.loc[["12:00", "14:00"]])

12:00    17.2
14:00    19.3
dtype: float64

In [21]:
print(s[s>= 18])

13:00    18.1
14:00    19.3
15:00    20.0
dtype: float64

In [24]:
s1= s.sort_values(ascending=False)
print(s1)

15:00    20.0
14:00    19.3
13:00    18.1
12:00    17.2
11:00    16.0
10:00    15.5
dtype: float64

In [26]:
print(s.rank(ascending=False))

10:00    6.0
11:00    5.0
12:00    4.0
13:00    3.0
14:00    2.0
15:00    1.0
dtype: float64

In [29]:
s.iloc[0:6] = s + 9/5 + 32
print(s)

10:00    49.3
11:00    49.8
12:00    51.0
13:00    51.9
14:00    53.1
15:00    53.8
dtype: float64

In [31]:
s.loc["16:00"] = 19.5+ 9/5 +32
print(s)

10:00    49.3
11:00    49.8
12:00    51.0
13:00    51.9
14:00    53.1
15:00    53.8
16:00    53.3
dtype: float64

2번 문제

In [60]:
from pandas import DataFrame
data= {
    'Date':['2024-01-01','2024-01-02','2024-01-03','2024-01-04','2024-01-05'],
    'Price': [100,102,98,105,107],
    'Volume': [300,280,320,400,300]
}
df= DataFrame(data)
df = df.set_index('Date')
print(df)

            Price  Volume
Date
2024-01-01    100     300
2024-01-02    102     280
2024-01-03     98     320
2024-01-04    105     400
2024-01-05    107     300

In [61]:
print(df.loc["2024-01-02"].iloc[1])

280

In [62]:
print(df.loc[(df['Price'] >= 100) & (df['Price'] <= 105), 'Volume'])

Date
2024-01-01    300
2024-01-02    280
2024-01-04    400
Name: Volume, dtype: int64

In [73]:
df.loc[(df['Price'] >= 105) & (df['Volume'] < 300),'Volume']=350
print(df)

            Price  Volume
Date
2024-01-01    100     300
2024-01-02    102     280
2024-01-03     98     320
2024-01-04    105     400
2024-01-05    107     300

조건에 해당하는 데이터가 없음.

3번 문제

In [76]:
import pandas as pd

data = pd.read_csv('/content/sales_data.csv')
data.head(10)

         Date    Product  Sales  Profit
0  2023-01-01  Product A  12000    3000
1  2023-01-02  Product B   8000    2000
2  2023-01-03  Product C  15000    3500
3  2023-01-04  Product D  20000    5000
4  2023-01-05  Product E   9000    1800
5  2023-01-06  Product A  12000    3000
6  2023-01-07  Product B   8000    2000
7  2023-01-08  Product C  15000    3500
8  2023-01-09  Product D  20000    5000
9  2023-01-10  Product E   9000    1800

In [80]:
print(data[data['Sales'] >= 10000])

           Date    Product  Sales  Profit
0    2023-01-01  Product A  12000    3000
2    2023-01-03  Product C  15000    3500
3    2023-01-04  Product D  20000    5000
5    2023-01-06  Product A  12000    3000
7    2023-01-08  Product C  15000    3500
..          ...        ...    ...     ...
992  2025-09-19  Product C  15000    3500
993  2025-09-20  Product D  20000    5000
995  2025-09-22  Product A  12000    3000
997  2025-09-24  Product C  15000    3500
998  2025-09-25  Product D  20000    5000

[600 rows x 4 columns]

In [83]:
data.index[data['Sales'] >= 20000]

Index([  3,   8,  13,  18,  23,  28,  33,  38,  43,  48,
       ...
       953, 958, 963, 968, 973, 978, 983, 988, 993, 998],
      dtype='int64', length=200)

In [94]:
print(data.loc[data['Sales'] >= 10000, 'Profit'])

0      3000
2      3500
3      5000
5      3000
7      3500
       ...
992    3500
993    5000
995    3000
997    3500
998    5000
Name: Profit, Length: 600, dtype: int64

In [103]:
index= data['Sales'].idxmax()
print(data.loc[index, 'Date'])

2023-01-04

In [102]:
print(data.loc[index, 'Product'])

Product D